body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 40%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
